<footer>
    <div class="footer-container">
        <div class="footer-section">
            <h3>Company</h3>
            <ul>
                <li><a href="/about">About Us</a></li>
                <li><a href="/terms">Terms & Conditions</a></li>
                <li><a href="/privacy">Privacy Policy</a></li>
                <li><a href="/careers">Careers</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>For Customers</h3>
            <ul>
                <li><a href="/reviews">Reviews</a></li>
                <li><a href="/categories">Categories Near You</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>For Sellers</h3>
            <ul>
                <li><a href="/register">Register as a Seller</a></li>
                <li><a href="/seller-FAQS">Seller FAQs</a></li>
                <li><a href="/pricing">Pricing & Policies</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <h3>For Workers</h3>
            <ul>
                <li><a href="/join-worker">Register as a Seller</a></li>
                <li><a href="/worker-guidlines">Seller FAQs</a></li>
                <li><a href="/payments-support">Pricing & Policies</a></li>
            </ul>
        </div>
    </div>
</footer>
<link rel="stylesheet" href="/css/styles.css">
